.App-Root {
  text-align: center;
}

.web-header{
  background-color: lightblue;
  color: white;
}

.employee{
  display: inline-block;
  border-style: solid;
  border: blue;
  border-radius: 2px;
}

